.searchInputContainer {
  display: flex;
  flex-direction: row;
}


.searchInputItem {
  font-size: 20px;
  background-color: bisque;
  border-radius: 300px;
  text-align: center;
  width: 720px;
  height: 60px;
}

.searchInputPlaceHolder {
}
