.searchContainer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}
.Placeholder {
  font-size: 10px;
  color: transparent;
}
